/*
Theme Name: Rey Pila v1
Theme URI: http://reypila.com/
Description: Tema para Rey Pila
Author: Digit
Author URI: http://twitter.com/digitmx
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu (optional)

License: http://reypila.com/
License URI: http://reypila.com/

Lead Project: @milioh
Design: @layout
UX & HTML Building: @x3ck
Development & Functions: @milioh
*/
 
 /* FONTS */
 @font-face { font-family: 'DIN Condensed Bold'; src: url('../fonts/din/DINCondensed-Bold.eot'); src: url('../fonts/din/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/din/DINCondensed-Bold.woff2') format('woff2'), url('../fonts/din/DINCondensed-Bold.woff') format('woff'), url('../fonts/din/DINCondensed-Bold.svg#webfont') format('svg'); font-weight: normal; font-style: normal; }
.din { font-family: 'DIN Condensed Bold', sans-serif; } 
.helvetica { font-family: 'Helvetica', sans-serif; }
.font12 { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font19 { font-size: 19px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font24 { font-size: 24px !important; }
.font28 { font-size: 28px !important; }
.font30 { font-size: 30px !important; }
.font40 { font-size: 40px !important; }
.font45 { font-size: 45px !important; }
.font48 { font-size: 48px !important; }
.font70 { font-size: 70px !important; }

/* COLORS */
.transparent { background-color: transparent !important; }
.magnesium { background-color: #B1B1B1 !important; }
.magnesium-text { color: #B1B1B1 !important; }

/* LOADER */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url('../img/logo-loop.gif') center no-repeat #000; }

/* GENERAL */
html, body { width: 100%; height: 100%; background-color: #FFF; color: #000; }
.centered { margin: 0 auto; text-align: center; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.space5 { margin-top: 5px; display: block; }
.space10 { margin-top: 10px; display: block; }
.space20 { margin-top: 20px; display: block; }
.space40 { margin-top: 40px; display: block; }
.space60 { margin-top: 60px; display: block; }
.space80 { margin-top: 80px; display: block; }
.space100 { margin-top: 100px; display: block; }
.space200 { margin-top: 200px; display: block; }
.space300 { margin-top: 300px; display: block; }
.inline { display: inline-block !important; }
.block { display: block; }
.underline { text-decoration: underline; }
.no-padding { padding: 0 !important; }
.padding-1rem { padding: 1rem !important; }
.no-box-shadow { box-shadow: none !important; }
.no-margin-row { margin-top: -20px; }
.normal-text { text-transform: none !important; }
.clear { clear: both !important; }
.btn-site-w { text-align: center; padding-top: 0px !important; width:160px !important; height: 40px !important; line-height: 40px !important; background-color: transparent !important; border: 1px solid #000 !important; color: #000 !important; border-radius: 0px !important; }
.btn-site-w:hover { background-color: black !important; border: 1px solid #FFF !important; color: #FFF !important; }
.btn-site-ww { text-align: center; padding-top: 0px !important; width:160px !important; height: 40px !important; line-height: 40px !important; background-color: transparent !important; border: 1px solid #FFF !important; color: #FFF !important; border-radius: 0px !important; }
.btn-site-ww:hover { background-color: black !important; border: 1px solid #000 !important; color: #FFF !important; }
.btn-site-b { text-align: center; padding-top: 0px !important; width:160px !important; height: 40px !important; line-height: 40px !important; background-color: black !important; border: 1px solid #000 !important; color: #FFF !important; border-radius: 0px !important; }
.btn-site-b:hover { background-color: white !important; border: 1px solid #000 !important; color: #000 !important; }
.btn-site-wb { text-align: center; padding-top: 0px !important; width:160px !important; height: 40px !important; line-height: 40px !important; background-color: white !important; border: 1px solid #FFF !important; color: #000 !important; border-radius: 0px !important; }
.btn-block { width: 100% !important; }
.left-text { text-align: left !important; }

/* NAVBAR */
nav { box-shadow: none !important; }
nav ul a:hover { color: #B1B1B1 !important; }
#nav-mailing { display: none; }
#nav-mailing nav .input-field { display: inline-block !important; }
.navbar-fixed { z-index: 999; }
.side-nav a:hover { background-color: transparent !important; }
nav .brand-logo { margin-top: -4px; margin-left: 20px; }
.menu nav { height: 80px; line-height: 80px; }
.menu #nav-mobile { margin-left: 160px; } 
.menu #social-mobile { margin-right: 20px; }
.menu #social-mobile svg { width: 22px; height: 18px; background-size: 22px 18px; fill: white; text-align: center; }
.menu #social-mobile svg:hover { fill: #B1B1B1 !important; }
.menu #social-mobile .social a { padding-right: 2px; }
.menu #social-mobile .social a:first-child { margin-left: 30px; }
.menu #social-mobile .social a:last-child { margin-right: 30px; padding-right: 0px; }
.modal { display:block; width: 100vw; min-height: 100vh; overflow: hidden; }
#mobile-menu svg { width: 22px; height: 18px; background-size: 22px 18px; fill: black; text-align: center; }
#mobile-menu svg:hover { fill: #B1B1B1 !important; }
#mobile-menu .social { }
#mobile-menu .social a { padding-right: 2px; display: inline-block; }
#mobile-menu .social a:first-child { margin-left: 10px; }
#mobile-menu .social a:last-child { margin-right: 10px; padding-right: 0px; }
#mobile-menu #mc-embedded-subscribe-form .mc-field-group input { padding: 0 20px; }
.input-error { border-bottom: 1px solid red !important; box-shadow: 0 1px 0 0 red !important; }
input:not([type]):focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) { border-bottom: 1px solid #000 !important; box-shadow: 0 1px 0 0 #000 !important; }

/* HOME */
.home { background: #000 no-repeat center center; background-size: cover; }
.home .caption { position: fixed; left: 0px; top: 40%; width: 100%; height: 100%; }
.home .cta { position: absolute; left: 50%; bottom: 20px; min-width: 240px; }
.home .cta div { position: relative; left: -50%; text-align: center; }
.home .cta .btn-flat { text-align: center; padding-top: 3px !important; height: 40px !important; line-height: 40px !important; background-color: transparent !important; border: 1px solid #FFF !important; color: #FFF !important; border-radius: 0px !important; }
.home .cta .btn-flat:hover { background-color: white !important; border: 1px solid #000 !important; color: #000 !important; }
.home .cta .icon { padding: 0px 10px 0px 10px; }
.home .cta .icon:first-child { padding: 0px 10px 0px 0px; }
.home .cta .icon:last-child { padding: 0px 0px 0px 10px; }
.home .cta .icon svg { width: 24px; height: 20px; background-size: 24px 20px; fill: white; text-align: center; }

/* SITE */
.site .slider { /*margin-top: -64px;*/ height: 640px !important; }
.site .slider .slides { height: 600px !important; }
.site .slider .slides li .caption { top: 35% !important; }
.site .slider .indicators .indicator-item.active { background-color: #000; }
.site .songkick { overflow: auto; height: 540px; }
.site #music .parallax-container { height: 740px !important; }
.site #music .parallax-container .parallax .cover { z-index: 1; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); position: absolute; top: 0; }
.site #music .parallax-container .parallax img { -webkit-filter: blur(10px); -moz-filter: blur(10px); -o-filter: blur(10px); -ms-filter: blur(10px); filter: blur(10px); }
.site #music .parallax-container #sections { overflow: auto; height: 500px; }
.site #music .parallax-container .section .icon { display: inline; }
.site #music .parallax-container .section .icon svg { vertical-align: middle; width: 18px; height: 18px; fill: black; }
.site #music .parallax-container .tabs .indicator { background-color: #FFF !important; }
.site #music .parallax-container #div_albums { margin-top: 20px; }
.site #music .parallax-container #div_albums .card { max-width: 460px; }
.site #music .parallax-container #div_albums .card .card-title i { margin-top: -6px; }
.site #music .parallax-container .icon { display: inline; }
.site #music .parallax-container .icon svg { vertical-align: middle; width: 18px; height: 18px; fill: black; }
.site #music .parallax-container .slick-dots li.slick-active button:before { color: #FFF; }
.site #music .parallax-container .slick-dots li button:before { font-size: 10px; }
.site #music .parallax-container .slick-prev { z-index: 9; left: 25px; }
.site #music .parallax-container .slick-next { z-index: 9; right: 25px; }
.site #music .parallax-container #div_singles { margin-top: 20px; }
.site #music .parallax-container #div_singles .card { max-width: 460px; }
.site #music .parallax-container #div_singles .card .card-title i { margin-top: -6px; }
.site #music .parallax-container #div_videos { margin-top: 100px; }
.site #music .parallax-container #div_videos .card { max-width: 600px !important; box-shadow: none !important; -webkit-box-shadow: none !important; }
.site .close-modal { top:-6px; right: 20px; position: absolute; }

/* PARALLAX */
.parallax-container { height: 600px; }
.parallax-container .parallax { }
.parallax-container .parallax .cover { z-index: 1; width: 100%; height: 100%; background-color: rgba(255, 255, 255, .5); position: absolute; top: 0; }

/* NEWS */
.news { }

/* KICHINK */
span#kichink-shoppingkart { top: 10px; }
span#kichink-shoppingkart .buttonknk { padding-top: 0px; background: url('data:image/svg+xml;utf8,<svg id="shopping" fill="white" width="22" height="20" data-name="shopping" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 45.5"><title>car</title><path d="M49.6,11.1H20.1a1.2,1.2,0,0,0-1.2,1.7l4.7,13.7a2,2,0,0,0,1.8,1.3H44.7a2,2,0,0,0,1.8-1.3l4.1-14A1,1,0,0,0,49.6,11.1Z" transform="translate(0 -2.6)"/><circle cx="22.7" cy="41" r="4.4"/><circle cx="41.4" cy="41.1" r="4.4"/><path d="M46.7,32.3H20.9L10.5,2.6h-8a2.5,2.5,0,1,0,0,5H7L17.3,37.3H46.7a2.5,2.5,0,1,0,0-5Z" transform="translate(0 -2.6)"/></svg>') no-repeat center left; }
span#kichink-shoppingkart .buttonknk:hover { background: url('data:image/svg+xml;utf8,<svg id="shopping" fill="#B1B1B1" width="22" height="20" data-name="shopping" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 45.5"><title>car</title><path d="M49.6,11.1H20.1a1.2,1.2,0,0,0-1.2,1.7l4.7,13.7a2,2,0,0,0,1.8,1.3H44.7a2,2,0,0,0,1.8-1.3l4.1-14A1,1,0,0,0,49.6,11.1Z" transform="translate(0 -2.6)"/><circle cx="22.7" cy="41" r="4.4"/><circle cx="41.4" cy="41.1" r="4.4"/><path d="M46.7,32.3H20.9L10.5,2.6h-8a2.5,2.5,0,1,0,0,5H7L17.3,37.3H46.7a2.5,2.5,0,1,0,0-5Z" transform="translate(0 -2.6)"/></svg>') no-repeat center left; }
span#kichink-shoppingkart .buttonknk .counting { color: #FFF; font-family: 'DIN Condensed Bold', sans-serif; font-size: 22px; margin: -10px 20px; }
span#kichink-shoppingkart .buttonknk .counting:hover { color: #B1B1B1 !important; }
span#kichink-shoppingkart .buttonknk .counting:before { content: "|"; margin-right: 10px; }
span#kichink-shoppingkart .shopping-cart { left: -210px; }

/* SINGLE NEW */
.new { }
.new .parallax { z-index: 0; }
.new .parallax-container .parallax .cover { z-index: 1; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); position: absolute; top: 0; }
.new #hero #caption { position: absolute; left: 50%; top: 370px; }
.new #hero #caption div { position: relative; left: -50%; }
.new #content #post a { font-weight: bold; color: #000; }

/* SINGLE PRODUCT */
.product { }
.product .slider .indicators .indicator-item.active { background-color: #000; }

/* Styles for Desktop */

@media only screen  and (max-width : 1368px) {
	.menu .brand-logo { margin-left: 6px; }
	.menu #nav-mobile { margin-left: 124px; }
	.menu #nav-mobile li a { padding: 0px 3px; }
	.menu #nav-mobile .font22 { font-size: 20px !important; }
	.menu #social-mobile { margin-right: 8px; }
	.menu #social-mobile .social a:first-child { margin-left: 10px; }
	.menu #social-mobile .social a:last-child { margin-right: 10px; }
	.site #music .parallax-container .slick-prev { left: 15px; }
	.site #music .parallax-container .slick-next { right: 15px; }
	.site #music .parallax-container #div_albums .card { width: 85%; }
	.site #music .parallax-container #div_singles .card { width: 85%; }
	.site #music .parallax-container #div_videos .card { width: 85%; }
}

/* Styles for Tablets */

@media only screen  and (max-width : 992px) {
	.home nav .brand-logo img { margin: 0 auto; }
	.home #nav-mobile { padding-top: 40px; }
	nav .brand-logo { margin: 0px; }
	.home .font24 { font-size: 16px !important; }
	.home .font70 { font-size: 40px !important; }
	.site .font70 { font-size: 40px !important; }
	.new .font70 { font-size: 40px !important; }
	span#kichink-shoppingkart .shopping-cart { }
	.home .cta .icon { padding: 0px 6px 0px 6px !important; }
	.home .cta .icon:first-child { padding: 0px 6px 0px 0px !important; }
	.home .cta .icon:last-child { padding: 0px 0px 0px 6px !important; }
	span#kichink-shoppingkart .buttonknk { padding-top: 4px; }
	.site .slider { height: 540px !important; }
	.site .slider .slides { height: 500px !important; }
	.new .parallax img { display: block !important; }
	.new .parallax-container { height: 500px !important; }
	.new #hero #caption { top: 240px; }
}

/* Styles for Smartphones */

@media only screen  and (max-width : 600px) {
	.home nav .brand-logo img { margin: 0 auto; }
	.home .cta .icon { padding: 0px 3px 0px 3px !important; }
	.home .cta .icon:first-child { padding: 0px 3px 0px 0px !important; }
	.home .cta .icon:last-child { padding: 0px 0px 0px 3px !important; }
	.site .slider { height: 440px !important; }
	.site .slider .slides { height: 400px !important; }
	.new .parallax-container { height: 400px !important; }
	.new #hero #caption { top: 160px; }
	.site #music .parallax-container #div_albums { margin-top: 60px; }
	.site #music .parallax-container #div_singles { margin-top: 60px; }
	.site #music .parallax-container #div_videos { margin-top: 20px; }
}